.container {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    width: 650px;
    height: 600px;
    margin: auto;
    display: flex;
    position: relative;
}

.plant-area{
    box-sizing: border-box;
    /*
    border-style: solid;
    border-width: 1px;
    border-color: rgb(196, 30, 30);
    */
    width: 650px;
    height: 253px;
    position: absolute;
    bottom: 0;
}

.plant{
    display: inline-flex; /* Display plants next to each other */
    flex-direction: column; /* Stack leaves vertically */
    position: flex;
    
    margin-top: 50px;
}

.leaf {
    width: 100px;
    height: 100px;
    border-radius: 0 100%;
    background-color: #008000; /*healthy color*/
    position: absolute;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.flower-bulb{
    background: #008000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-top: -48px;
}

.stem{
    width: 5px;
    height: 200px;
    background-color: #008000; 
    position: absolute;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    
}


#S1{
    margin-left: 100px;
}
#fb1{
    margin-left: 77px;
}
#L1{
    transform: rotate(90deg);
    margin-left: 100px;
}
#L2{
    margin-top: 100px;
}
#L3{
    transform: rotate(90deg);
    margin-left: 100px;
    margin-top: 100px;
}

#S2{
    margin-left: 190px;
}
#fb2{
    margin-left: 168px;
}
#L5{
    transform: rotate(90deg);
    margin-left: 190px;
}
#L6{
    margin-top: 100px;;
    margin-left: 90px;
}
#L7{
    transform: rotate(90deg);
    margin-left: 190px;
    margin-top: 100px;
}
#L8{
    margin-left: 90px;
}

#S3{
    margin-left: 185px;
}
#fb3{
    margin-left: 162px;
}
#L9{
    transform: rotate(90deg);
    margin-left: 185px;
}
#L10{
    margin-top: 100px;
    margin-left: 85px;
}
#L11{
    transform: rotate(90deg);
    margin-left: 185px;
    margin-top: 100px;
}
#L12{
    margin-left: 85px;
}

.Bug-animation {
    width: 20px;
    height: 20px;
    background-color: rgb(241, 14, 14);
    border-radius: 50%;
    position: absolute;
}
